@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.all_friends_container .head {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #392c44;
	color: #fff;
}

.all_friends_container .head a {
	color: #fff;
}