@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.nav_container .nav_menu .nav_icon_container_lower a:nth-child(1) {
	color: #00f7ff;
	border-bottom: 2px solid #00f7ff;
}

.user_create {

}

.user_create .create_post {
	box-shadow: 0 14px 30px 0 rgb(43 80 237 / 20%);
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-gap: 5px;
	width: 100%;
	padding: 20px;
	align-items: center;
}

.user_create .create_post img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.user_create .create_post a {
	border: 1px solid #392c44;
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 12px;
	width: 100%;
	text-decoration: none;
	color: #000;
}


.home__main_container {
	padding: 20px;
	display: grid;
	grid-gap: 20px;
}

.home__post_container {
	background: white;
	box-shadow: 0 14px 30px 0 rgb(43 80 237 / 20%);
	padding: 20px 20px 10px;
	border-radius: 8px;
}

.home__post_header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.home__post_header .item {
	text-decoration: none;
}

.home__post_header .item:nth-child(1) .name {
	font-size: 15px;
	color: #000;
}

.home__post_header .item:nth-child(1) .name .date {
	font-size: 10px;
}

.home__post_header .item:nth-child(1) {
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-gap: 10px;
}

.date_privacy {
	display: flex;
	align-items: center;
}

.date_privacy .privacy_icon {
	font-size: 12px;
	margin-left: 5px;
}

.home__post_header .item:nth-child(1) img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}


.home__post_content {
	margin: 10px 0;
	font-size: 12px;
}

.home__post_likes a {
	cursor: pointer;
	width: fit-content;
	color: #000;
	text-decoration: none;
	margin: 10px 0 10px;
	display: flex;
}


.home__post_likes .likesLogo {
	width: 14px;
	height: 14px;
	margin-right: 5px;
}

.home__post_likes .like_count {
	font-size: 12px;
}

.home__post_interact {
	display: flex;
	justify-content: space-between;
	margin: 0 10px 0;
}

.home__post_interact .item {
	cursor: pointer;
	padding: 10px;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

.home__post_interact .item li {
	margin-right: 5px;
}


